<div style="padding: 20px;">
    <h1 style="color: blue;">Sistema Integral Gestion de Pacientes</h1>
    <h3>Angular - Django App</h3>
      <nav>
        <a routerlink="cama" class="btn btn-primary active" role="button" routerlinkactive="active">Camas</a>
        <a routerlink="add" class="btn btn-primary active" role="button" routerlinkactive="active">Add</a>
        <a routerlink="findbyage" class="btn btn-primary active" role="button" routerlinkactive="active">Search</a>
      </nav>
      <router-outlet></router-outlet>
    </div>